body {
    padding-top: 5rem;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.msg-field {
    height: 150px;
    border-radius: 5px;
    border-color: rgb(218, 218, 218);
    border-width: 1px 1px;
    width: 70%;
    font-size: 14px;
}

.form-group p {
    font-size: 12px;
}

.input {
    border-radius: 3px;
    border-color: rgb(218, 218, 218);
    border-width: 1px;
    height: 40px;
    width: 70%;
    font-size: 14px;
}

.btn {
    color: white;
    background-color: rgb(78, 152, 248);
}

.label{
    font-weight: bold;
    font-size: 15px;
}

.label:after {
    content: " (*Required)";
    color: red;
}

.flashes{
    color: black;
    font-size: 20px;
    list-style-type: none;
    background-color: rgb(255, 0, 0, .65);
    text-align: center;

}